

nav,ul{
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
    height: 40px;
}

nav{
    background-color: blueviolet;
    padding: 10px;
}
ul li{
    list-style-type: none;
    color: khaki;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}