<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action="/user/login">
        
        <label for="email">Email</label>
        <input type="text" required name="email">
        <label for="password">Password</label>
        <input type="text" required name="password">
        <button type="submit">Login</button>
    </form>
</body>
</html>